*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #2F5E72, #D3FFF7);
    font-family: 'Open Sans', sans-serif;
}

.conteiner{
    width: 253px;
    padding: 27px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5); 
}

.intro-text{
    margin-bottom: 15px;
}

input {
    border: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    font-size: 100%;
    width: calc(100% - 68px);
}

button{
    background-color: #7c7c7c2b;;
    padding: 8px;
    border-radius: 50%;
    border: none;

}

button:hover {
    background: #ffffffc2;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 10px;
    display: none;
}

.body{
    display: none;
    text-align: center;
}

.city{
    padding: 20px;
}

.temp{
    padding: 15px 2px;
    font-size: 50px;
}

.description{
    padding: 5px 2px;
    font-size: 25px;
}

.wind{
    padding: 5px 2px;
    font-size: 15px;
}

.details{
    display: flex;
    justify-content: space-between;
}

.det{
    display: flex;
    align-items: center;
}